services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile.jenkins
    user: root
    network_mode: host
    environment:
      - KUBECONFIG=/var/jenkins_home/.kube/config
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./jenkins_home:/var/jenkins_home
      - ~/.kube:/var/jenkins_home/.kube
      - ~/.minikube:/home/ilefneji/.minikube
